:root {
    --warna-netral-putih: #FFFFFF;
    --warna-netral-abu: #cccccc;
    --warna-utama: oklch(28.396% 0.07569 254.184);
    --color-base-100: oklch(28% 0.091 267.935);
    --color-base-200: oklch(37% 0.146 265.522);
    --color-base-300: oklch(42% 0.199 265.638);
    --color-base-400:  oklab(54.518% -0.03034 -0.10648);
    --color-base-content: oklch(93% 0.032 255.585);
    --color-primary: oklch(51% 0.262 276.966);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(64% 0.2 131.684);
    --color-secondary-content: oklch(98% 0.031 120.757);
    --color-accent-content: oklch(98% 0.018 155.826);
    --color-neutral: oklch(42% 0.199 265.638);
    --color-neutral-content: oklch(97% 0.014 254.604);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-hover: oklch(46.023% 0.13372 147.868);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --warna_footer_t2: oklch(21.726% 0.0558 255.133);

    --color-text: oklch(78% 0.115 274.713);
}

header,
footer section:first-child {
    background: var(--warna-utama);
    color: var(--color-text);
    overflow: hidden;
}

footer section:last-child {
    color: var(--color-text);
    background: var(--warna_footer_t2);
    overflow: hidden;
}

main {
    /* background: var(--color-base-content); */
    background: var(--color-base-100);
}

#details {
    display: none;
}

@media (max-width: 1022px) {
    #details.show {
        display: flex;
    }
}

@media (min-width: 1023px) {
    #details {
        display: none !important;
    }
}

#detail_profil_user {
    display: none;
}

#wadah_brosur img {
    border-radius: 20px;
    width: 70vw;
    min-width: 70vw;
    flex-shrink: 0;
}

#wadah_brosur img:first-child {
    margin-left: 15vw;
}

@media (max-width: 768px) {
    #wadah_brosur img {
        width: 100vw;
        min-width: 99vw;
        border-radius: 10px;
    }

    #wadah_brosur img:first-child {
        margin-left: 0vw;
    }
}