html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #222;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background: white;
  border-bottom: 2px solid #eee;
  padding-top: 80px;
}

.kiri {
  flex: 1;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-foto {
  width: 260px;
  height: 260px;
  border: 2px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
}

.foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kanan {
  flex: 2;
  padding: 20px;
}

.detail-brosur .judul {
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.detail-brosur .tagline {
  display: block;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
  color: black;
}

.detail-brosur .deskripsi-singkat {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

.poin-utama {
  margin: 0;
  padding-left: 20px;
  margin-bottom: 20px;
}

.contact {
  background: #2c7dfa;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.contact:hover {
  background: #1b5fc6;
}

.main {
  padding: 30px;
}

.baris-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.card h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: black;
}

.baris-2 {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  margin-bottom: 30px;
}

.foto-galeri {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.foto-galeri img {
  width: 32%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid white;
  transition: transform 0.3s ease;
}

.foto-galeri img:hover {
  transform: scale(1.03);
}

.baris-3 {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.baris-3 a {
  color: #2c7dfa;
  text-decoration: none;
}

.baris-3 a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .kanan {
    padding: 10px;
  }

  .foto-galeri img {
    width: 100%;
  }

  ul{
    text-align: left;
  }
}
